In [4]:
import pandas as pd

def change_column_value(row):
   if row['whatever_column_is_equal_to_this'] == -999.0 :
      return row['whatever_column_value_you_want_with_this']
   if row['whatever_column_is_equal_to_that'] == 1.0:
      return row['whatever_column_value_you_want_with_that']
   return row



dataframe_content = {'whatever_column_is_equal_to_this':[0,0,0,0,-999.0, 0,0],\
                     'whatever_column_is_equal_to_that':[0,0,0,0,0,1.0,0],\
                     'whatever_column_value_you_want_with_this':[3.0,3,3,3,3,3,3],\
                     'whatever_column_value_you_want_with_that':[4.0,4,4,4,4,4,4]}

df = pd.DataFrame(dataframe_content)
df

,whatever_column_is_equal_to_this,whatever_column_is_equal_to_that,whatever_column_value_you_want_with_this,whatever_column_value_you_want_with_that
0,0.0,0.0,3.0,4.0
1,0.0,0.0,3.0,4.0
2,0.0,0.0,3.0,4.0
3,0.0,0.0,3.0,4.0
4,-999.0,0.0,3.0,4.0
5,0.0,1.0,3.0,4.0
6,0.0,0.0,3.0,4.0

In [6]:
df = df.apply (lambda row: change_column_value(row), axis=1)
df

,whatever_column_is_equal_to_this,whatever_column_is_equal_to_that,whatever_column_value_you_want_with_this,whatever_column_value_you_want_with_that
0,0.0,0.0,3.0,4.0
1,0.0,0.0,3.0,4.0
2,0.0,0.0,3.0,4.0
3,0.0,0.0,3.0,4.0
4,3.0,3.0,3.0,3.0
5,4.0,4.0,4.0,4.0
6,0.0,0.0,3.0,4.0